version = "1.0";

agent: {
    common: {
        log_level = 1;
    };

    devices: {
        dht: {
            i2c: {
                path = "/dev/i2c-1";
                addr = 0x76;
            };
        };

        lcd: {
            spi: {
                path = "/dev/spidev0.0";
                clock_speed = 10000000;
            };
            dc_pin: {
                path = "/dev/gpiochip1";
                line = 229;
            };
            reset_pin: {
                path = "/dev/gpiochip1";
                line = 230;
            };
            backlight_pin: {
                path = "/dev/gpiochip1";
                line = 231;
            };
        };

        stick: {
            up: {
                path = "/dev/gpiochip2";
                line = 232;
            };
            down: {
                path = "/dev/gpiochip2";
                line = 233;
            };
            left: {
                path = "/dev/gpiochip2";
                line = 234;
            };
            right: {
                path = "/dev/gpiochip2";
                line = 235;
            };
            push: {
                path = "/dev/gpiochip2";
                line = 236;
            };
        };
    };

    libraries: {
        lvgl: {
            fs_base = "";
        };
    };

    theme: {
        background = "A:background.bin"
    };
};
