version = "1.0";

agent: {
    common: {
        log_level = 1;
    };

    drivers: {
        spi: {
            path = "/dev/spidev0.0";
            clock_speed = 10000000;
        };

        i2c: {
            path = "/dev/i2c-1";
        };
    };

    devices: {
        lcd: {
            dc_pin: {
                path = "/dev/gpiochip1";
                line = 229;
            };
            reset_pin: {
                path = "/dev/gpiochip1";
                line = 230;
            };
            backlight_pin: {
                path = "/dev/gpiochip1";
                line = 231;
            };
        };
    };

    libraries: {
        lvgl: {
            fs_base = "";
        };
    };

    theme: {
        background = "A:background.bin"
    };
};